spring:
  application:
    name: order101
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    # 이 부분에 환경 변수가 빈 값인지 아닌지 확인합니다.
    url: jdbc:mariadb://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    show-sql: false
    properties:
      hibernate.format_sql: false
  cache:
    type: redis
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      username: default
      password: ${REDIS_PASSWORD}

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET}

ai:
  python:
    base-url: http://${AI_HOST}:${AI_PORT}/

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    s3:
      bucket: order101
    region:
      static: ap-northeast-2
    stack:
      auto: false

logging:
  level:
    root: ERROR
