spring:
  application:
    name: order101
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://121.170.161.72:31203/order101
    username: pjw1480
    password: anigeunde01
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: true
    properties:
      hibernate.format_sql: true
  data:
    redis:
      host: localhost
      port: 6379
      password: sh
server:
  port: 8080
jwt:
  secret: "eW91ci1zdHJvbmctcmFuZG9tLXNlY3JldC1rZXktaGVyZQ=="
ai:
  python:
    base-url: http://localhost:8000/

logging:
  level:
    org.springframework.jdbc: DEBUG
    org.hibernate: DEBUG
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
    org.springframework.security: INFO
    org.hibernate.resource.transaction: INFO
    org.hibernate.orm.query: INFO


    # kakao:
    #   client-id: ${KAKAO_CLIENT_ID}
    #   redirect-uri: ${KAKAO_REDIRECT_URI}

    # mail:
  #   host: smtp.gmail.com
  #   port: 587
  #   username:
  #   password:
  #   properties:
  #     mail:
  #       smtp:
  #         auth: true
  #         starttls:
  #           enable: true